.btn {
    color:#f0f1f3;
    border: 1px solid #f0f1f3;
    border-radius:0.5rem;
    padding:1rem 0.5rem;
    background: #3c4e5f;
    font-size:1rem;
    text-align:center;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    outline:none;
  }
  
  .btn.highlight{
    grid-column-end: span 2;
  }

  input[type=color] { 
    /* removes default styling from input color element */
    padding: 0;
    border: 1px solid #f0f1f3; 
    position: absolute;
    top:0.3rem; right:0.3rem; width:0.6rem; height:0.6rem;

    z-index:15;
    cursor: pointer;
}

/* removes default styling from input color element */
::-webkit-color-swatch {
    border: none;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::-moz-color-swatch,
::-moz-focus-inner {
    border: none;
}

::-moz-focus-inner {
    padding: 0;
}