

.display{
    background: #f0f1f3;
    color:#4c5d6f;
    text-align:right;
    padding:0.5rem 1rem;
    font-size:2rem;
    border: 1px solid #f0f1f3;
    border-radius:0.2rem;
    height: 2.69rem;
    overflow: hidden;
  }

  .active-char {
    border-bottom: 2px solid #ea8c73;
    color:#2c3c4b;
    animation: fade 0.6s ease-in-out infinite;
  }


