.display{
    background: #f0f1f3;
    color:#4c5d6f;
    text-align:right;
    padding:0.5rem 1rem;
    font-size:2rem;
    border: 1px solid #f0f1f3;
    border-radius:0.2rem;
    height: 2.69rem;
    overflow: hidden;
  }

  .active-char {
    text-decoration: underline;
    animation: underline-fade 0.3s ease-in;
  }

  @keyframes underline-fade{
    0%   { text-decoration: underline; }
    100% { text-decoration: none;}
  }