body {
  margin: 0;
  box-sizing:border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@keyframes fade {
  0%   { border-color:#2c3c4b ; } /*#ea8c73*/
  100% { border-color: #f0f1f3; }
}
